
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #001f3f;
}

body {
  font-family: cursive;
  font-size: 40px;
  background-color: #001f3f;
  color: #ff6600; /* Navy blue text */
  line-height: 1.6;
  padding: 20px;
}

/* Main container */
.App {
  max-width: 900px;
  margin: 0 auto;
  background-color: #001f3f;
}
.home-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  gap: 40px;
  flex-wrap: wrap;
}

.home-text {
  flex: 1;
  min-width: 250px;
}

@media (max-width: 768px) {
  .home-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .profile-pic img {
    margin-bottom: 20px;
  }
}

.profile-pic img{
    width: 250px;
    height: 280px;
    border-radius: 50%; 
    object-fit: cover;
    border: 3px solid aqua; 
    margin: 20px  10px 20px 10px;
}
/* Heading styles */
h1 {
  color: #ff6600;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  letter-spacing: 2px;
}

h2 {
  color: #ff6600; /* Orange */
  border-bottom: 3px solid #ff6600;
  padding-bottom: 6px;
  margin-bottom: 1rem;
  font-size: 2rem;
}

h3 {
  color:rgb(212, 98, 230);
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

/* Sections */
section {
  background: #001f3f;
  padding: 20px 25px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 31, 63, 0.1);
}

/* Paragraph */
p {
  color: bisque;
  font-family: cursive;
  font-size: 20px;
}
input[type="text"],
input[type="email"],
textarea {
  border: 2px solid transparent; 
  outline: 2px solid #ff6600;    
  color:bisque;
  border-radius: 6px;
  padding: 10px 12px;
  font-size: 1rem;
  transition: outline-color 0.3s ease;
}
/*Links*/
a {
  text-decoration: none;
  font-size: 20px;
  color: aqua;
}

a:hover {
  color: #ff6600;
}

/* Buttons */
button {
  background-color: aqua;
  color:#001f3f;
  border: none;
  padding: 10px 18px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #ff6600;
  color: white;
}

/* Form styling */
form div {
  font-size: 20px;
  color:bisque;
  margin-bottom: 15px;
}
form label{
  font-size: 20px;
  color:bisque
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 10px 12px;
  border: 2px solid #001f3f;
  border-radius: 6px;
  font-size: 1rem;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-color: #ff6600;
}

/* Responsive */
@media (max-width: 600px) {
  h1 {
    font-size: 2.2rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
  
  section {
    padding: 15px 15px;
  }
}
